.return{
    font-size: 6vw;
    font-family: "Sawarabi Gothic", serif;
}
.first{
    font-size: 8vw;
    font-family: "Sawarabi Gothic", serif;
}
.second{
    font-size: 4vw;
    font-family: "Sawarabi Gothic", serif;
}
.key{
    width: 95vw;
    height: 25vh;
    font-family: "Sawarabi Gothic", serif;
    font-size: 4vw;
}
.bt{
    width: 50vw;
    font-size: 8vw;
    font-family: "Sawarabi Gothic", serif;
    appearance: none;
    border: 0;
    border-radius: 10px;
    background: rgb(243, 243, 243);
    color: #3276ff;
    padding: 8px 16px;
}