body {
    background-color: #777777;            /* 背景色 */
    background-image: url("default_bg_image.png"); /* 画像 */
    background-size: cover;               /* 全画面 */
    background-attachment: fixed;         /* 固定 */
    background-position: center center;   /* 縦横中央 */
 }
 
 .wrapper{
     min-height: 100vh;
     position: relative;
     z-index: -10;
 }
 
 .texts{
     width: 90%;
     text-align: center;
     padding: 10px 2.5%;
     position: absolute;
     bottom: 0;
     z-index: 10;
 }
 
 .texts img{
     width: 100%;
     text-align: center;
     bottom: 0;
     z-index: 10;
 }
 
 .texts .name{
   position: absolute;
   width: 40%;
   top: 11%;
   left: 8%;
   text-align: center;
   margin:0;
   padding:0;
   color: #ffffff;
   font-family: "Sawarabi Gothic",sans-serif;
   font-size: 5vw;
 }
 
 .texts .mes{
   position: absolute;
   width: 90%;
   top: 35%;
   left: 5%;
   margin:0;
   padding:0;
   color: #ffffff;
   font-family: "Sawarabi Gothic",sans-serif;
   text-align: left;
   font-size: 4vw;
 }
 
 .menu_image{
     width: 30%;
     position: absolute;
     z-index: 10;
 }
 
 .back_menu_image{
     width: 30%;
     position: absolute;
     z-index: 10;
 }
 
 .top_menu_image{
     width: 20%;
     left: 34%;
     top: 4%;
     position: absolute;
     z-index: 10;
 }
 
 .skip_menu_image{
     width: 20%;
     left: 55%;
     top: 4%;
     position: absolute;
     z-index: 10;
 }
 
 .chara_image{
     width: 60%;
     text-align: center;
     padding: 25% 15%;
     position: absolute;
     bottom: 10%;
     z-index: 5;
 }